$shadow-sm: 2px 6px 8px rgba(0,0,0,.2);
$shadow-up: 8px 14px 14px rgba(0,0,0,.1);
$transition-default: .3s ease-in;

html, body {
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
    color: #444;
}

main.container {
    flex-grow: 1;
}

#navbarMain, #footerMain {
    background-color: #444;
}

#footerMain {
    margin-top: 3em;
    padding: .5em;
    font-size: .85em;
    text-align: center;
    color: #aaa;
}

.product {
    box-shadow: $shadow-sm;

    .image {
        min-height: 25em;
        background-position: center center;
        background-size: cover;
    }
}

.product-card {
    box-shadow: $shadow-sm; 
    transition: all $transition-default;

    &:hover {
        box-shadow: $shadow-up;

        .image .content {
            transform: scale(1.2);
        }
    }

    .image {
        overflow: hidden;
        height: 20em;

        .content {
            width: 100%;
            height: 100%;
            background-position: center center;
            background-size: cover;
            transition: all $transition-default;
        }
    }
}

.bubble-nb-articles {
    position: relative;
    left: -.5em;
    top: .2em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    margin-top: -1em;
    font-size: .8em;
    font-weight: bold;
    background-color: red;
    color: #fff;
    border-radius: 50%;
    transform: scale(.7);
    transform-origin: top right;
}
